<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Checkout\Controller\Cart\Add" type="Chilliapple\ProductAtrributes\Controller\Cart\Addcart" />
    
    <preference for="Magento\Contact\Controller\Index\Post" type="Chilliapple\ProductAtrributes\Controller\Contact\Post" />
</config>