<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Nethues_Custom::custom_menu_item" title="Custom Nethues" sortOrder="51">
                    <resource id="Nethues_Custom::custom_menu" title="Create Custom Customer" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>